* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0, 0, 0, 0.65)), url(../photos/salonbckgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr;
    margin: 0;
    height: 100vh;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.content h1 {
    font-size: 50px;
    margin-top: 8px;
    font-family: 'coffee butter';
    color: #ffffff;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    text-shadow: -10px 7px 8px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}


.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.ul {
    gap: 15px;
    margin-top: 20px;
    background: darkmagenta;
    border-radius: 8px;
}
.item {
    padding: 15px  30px;
    border: none;
    cursor:pointer;
    font-size: 1.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.item:hover {
    background: rgb(105, 0, 105);
    box-shadow: 0px 2px 2px rgb(0, 0, 0, 0.11);
}


.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 225, 188);
    text-transform: uppercase;
    
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f314d9;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content p {
    color: wheat;
    text-align: center;
    font-size: 2vmin;
    text-shadow: -3px 5px 2.5px rgb(0, 0, 0);
    margin-right: 70px;
    margin-left: 70px;  
    font-family: 'lexend';
    padding: 15px;
    letter-spacing: .11rem;
    margin-bottom: 35px;
    background-color: #20153d71;
}

@media (min-width: 415px) and (max-width: 420px) {
    body {
        background-color: gray;
    }
}