* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0, 0, 0, 0.65)), url(../photos/salonbckgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr;
    margin: 0;
    height: 100vh;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contents .where {
    font-size: 9vmin;
    margin-top: 70px;
    margin-bottom: 50px;
    font-family: 'coffee butter';
    color: #ffffff;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    text-shadow: -10px 8px 8px rgb(0, 0, 0);
    text-align: center;
}

.content h1 {
    font-size: 35px;
    margin-top: 8px;
    font-family: 'coffee butter';
    color: #ffffff;
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    text-shadow: -10px 7px 8px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}


.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 225, 188);
    text-transform: uppercase;
    
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #f314d9;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.line {
    width: 550px;
    height: 4px;
    background: rgb(244, 200, 119);
    margin: 10px auto;
    margin-top: 32px;
}


.histof {
    width: 30px;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.histof .img1 {
    width: 340px;
    margin: 50%;
    border-radius: 200px;
    box-shadow: -6px 5px 5px rgb(0, 0, 0);
}

img {
    transition: transform .3s ease;
    box-shadow: -6px 5px 5px rgb(0, 0, 0);}

img:hover {
    transform: scale(1.1);
    box-shadow: 2px 6px 9px rgb(31, 31, 31);
}

.content p {
    color: wheat;
    text-align: center;
    font-size: 2vmin;
    text-shadow: -3px 5px 2.5px rgb(0, 0, 0);
    margin-right: 70px;
    margin-left: 70px;  
    font-family: 'lexend';
    padding: 15px;
    letter-spacing: .11rem;
    margin-bottom: 35px;
    background-color: #20153d71;
}
